<head>
    <script src="js/angular.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>
    <script src="js/person-ctrl.js"></script>
    <script src="js/ng-file-upload-shim.min.js"></script>
    <script src="js/angular-ui-notification.min.js"></script>

    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>

<body ng-app="fid-app">
    <div ng-controller="personCtrl" ng-init="resetPersonGroupCreate()">
        <center>
            <h4> Create person group </h4>
            <div class="input-group col-md-6">
                <span class="input-group-addon" id="basic-addon1">Person Group Id</span>
                <input type="text" ng-model="personGroup.id" class="form-control" placeholder="Person Group Id" aria-label="Person Group Id" aria-describedby="basic-addon1">
            </div>
            <br>
            <div class="input-group col-md-6">
                <span class="input-group-addon" id="basic-addon1">Person Group Name</span>
                <input type="text" ng-model="personGroup.name" class="form-control" placeholder="Person Group Name" aria-label="Person Group Name" aria-describedby="basic-addon1">
            </div>
            <br>
            <button type="button" class="btn btn-danger" ng-click="createPersonGroup(personGroup)">Create</button>
        </center>
    </div>
</body>
